# record outputs and experiment artifacts will not be tracked
record/**
!record/
!record/log/
!record/log/**/
record/log/**/*.csv
!record/log/**/.gitkeep

# dataflow and hw description files will not be updated
desc/dataflow_*.m
desc/hw_*.m

# MAESTRO output file will not be updated
dataflow_*.m

# generated figures
*.pdf
*.svg

# pyc files
__pycache__/
util/__pycache__/
*.pyc
